@import "./colors";
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;400;700&family=Roboto+Mono:wght@100;400&display=swap');


.individualPage{
    display: flex;
    justify-content: center;
    font-family: 'Roboto Mono', monospace;
    margin-top: 100px;
}

.wrapperIndividual{
    border: 1px solid crimson;
    padding: 40px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(177, 12, 67, 0.5);
    border-radius: 20px;
    color: $textColor;
}

.avatar{
    width: 150px;
    height: 150px;
    overflow: hidden;
    object-fit: cover;
    border: 1px solid $textColor;
    border-radius: 100px;
    margin: 0 0 30px 0;
}

.avatar:hover{
    border: 1px solid crimson;
    box-shadow:  0 0 30px rgba(177, 12, 67, 0.5);
    transform: scale(130%);
    transition: .5s;
}

.tablaGeneral{
    display: grid;
    grid-template-columns: auto auto;
    gap: 15px;
    padding: 10px 0 10px 0;
}

.datosIndividuo{
    grid-column: 2;
    p{
        padding: 10px 0 10px 0;
    }
    
}

.encabezadosIndividuo{
    grid-column: 1;
    p{
        padding: 10px 0 10px 0;
    }
}



.btnIndividuos{
    background-color: transparent;
    border: none;
    border-radius: 20px;
    color: crimson;
    cursor: pointer;
}

.frenteDNI, .dorsoDNI{
    border: none;
    background-color: crimson;
    color: $textColor;
    padding: 10px;
    margin: 10px;
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
    a{
        text-decoration: none;
        text-transform: uppercase;
        color: $textColor;
    }
}

.frenteDNI:hover{
    background-color: $variantColor;
} 

.dorsoDNI:hover{
    background-color: $variantColor;
}

.deleteBTN{
    border: 1px solid crimson;
    background-color: $secondaryColor;
    color: $textColor;
    padding: 10px;
    margin: 10px 10px 10px 100px;
    font-weight: bold;
    cursor: pointer;
    a{
        text-decoration: none;
        color: $textColor;
        i{
        font-size: 30px;
        }
    }
}

.deleteBTN:hover{
    background-color: crimson;
    transition: .3s;
    transform: scale(120%);
}

.wrapperBtnListado{
    display: flex;
    justify-content: center;
}

.btnListado{
    border: none;
    background-color: $variantColor;
    color: $textColor;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
    a{
        text-decoration: none;
        text-transform: uppercase;
        color: $textColor;
    }
}

.btnListado:hover{
    background-color: $secondaryColor;
    transition: .3s;
}

.modalDNIfrente, .modalDNIdorso{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #111111bd;
    display: flex;
    opacity: 0;
    pointer-events: none;
    transition: opacity .6s .9s;
    --transform: translateY(-100vh);
    --transition: transform .8s;
}

.modalDNIfrente--show{
    opacity: 1;
    pointer-events: unset;
    transition: opacity .6s;
    --transform: translateY(0);
    --transition: transform .8s .8s;
}

.modalDNIdorso--show{
    opacity: 1;
    pointer-events: unset;
    transition: opacity .6s;
    --transform: translateY(0);
    --transition: transform .8s .8s;
}

.modal__containerDNIfrente, .modal__containerDNIdorso{
    margin: auto;
    width: 90%;
    max-width: 600px;
    max-height: 90%;
    background-color: transparent;
    border-radius: 6px;
    padding: 3em 2.5em;
    display: grid;
    gap: 1em;
    place-items: center;
    grid-auto-columns: 100%;
    transform: var(--transform);
    transition:var(--transition);
}

.modal__title{
    font-size: 1rem;
    color: $textColor;
    font-family: 'Roboto Mono', monospace;
}

.modal__paragraph{
    margin-bottom: 10px;
}

.modal__img{
    width: 90%;
    max-width: 300px;
}

.modal__closeFrente, .modal__closeDorso{
    text-decoration: none;
    color: #fff;
    background-color: transparent;
    padding: 1em 3em;
    border: none;
    display: inline-block;
    font-weight: 300;
    transition: background-color .3s;
}

.modal__closeFrente:hover{
    color: crimson;
    
}

.imgModal{
    max-width: 800px;
    max-height: 800px;
}