<header>
  <div class="title">
    <img src="/img/fullstack.svg" alt="logo" />
    <div>
      <h1>Claudio Paredes Arbelo</h1>
      <p>Desarrollador Fullstack y Educador</p>
    </div>
  </div>
  <nav>
    <div class="buttons" id="nav">
      <span id="close"><i class="fa-solid fa-xmark"></i></span>
      <a href="./"><button class="btn">home</button></a>
      <a href="./cursos"><button class="btn">cursos</button></a>
      <a href="./sobremi"><button class="btn">sobre mi</button></a>
      <a href="./contacto"><button class="btn">contacto</button></a>
    </div>
    <div>
      <span id="hamburguer"><i class="fa-solid fa-bars"></i></span>
    </div>
    
  </nav>
</header>
<section class= "wrapperFormulario">
  <div class="formularioContacto">
<div class="formContainer">
    <div class="box-info">
        <h1>Contáctate con nosotros</h1>
        <div class="data">
            <p><i class="fa-solid fa-phone"></i>+54 9 341 3181379</p>
            <p><i class="fa-solid fa-envelope"></i>claudioparedesarbelo@gmail.com</p>
            <p><i class="fa-solid fa-location-dot"></i></i>Av. Arijon 515 - Rosario - Argentina</p>
        </div>
        <div class="linkF">
            <a href="https://www.instagram.com/claudioparedes_developer/" target="_blank"><i class="fa-brands fa-square-instagram"></i></a>
            <a href="https://www.linkedin.com/in/claudioparedesarbelo/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
            <a href="https://twitter.com/ClaudioPDev" target="_blank"><i class="fa-brands fa-square-x-twitter"></i></a>
            <a href="https://www.youtube.com/channel/UC8obibrcBZa2FwGN6J9rJSA" target="_blank"><i class="fa-brands fa-square-youtube"></i></a>
            <a href="https://github.com/ClaudioParedesArbeloDev" target="_blank"><i class="fa-brands fa-square-github"></i></a>
            <a href="https://wa.me/5493413181379" target="_blank"><i class="fa-brands fa-square-whatsapp"></i></i></a>
        </div>

    </div>
    <form class="formContacto" action="https://formsubmit.co/932d88bc19abf67082ce684ef6bbb554" method="POST">
        <div class="input-boxF">
            <input type="text" name="name" placeholder="Nombre y Apellido">
            <i class="fa-solid fa-user"></i>
        </div>
        <div class="input-boxF">
            <input type="email" name="email" required placeholder="Correo Electrónico">
            <i class="fa-solid fa-envelope"></i>
        </div>
        <div class="input-boxF">
            <input type="text" name="asunto" required placeholder="Asunto">
            <i class="fa-solid fa-pen"></i>
        </div>
        <div class="input-boxF">
            <textarea id="" cols="30" rows="10" name="comentario" placeholder="Escribe tu mensaje"></textarea>
        </div>
        <button type="submit">Enviar</button>

        <input type="hidden" name="_next" value="http://localhost:8080">
        <input type="hidden" name="_captcha" value="false">
    </form>
</div>
</div>
</section>


<script src="/js/index.js"></script>