<body class="bodyPlataforma">
    <nav class="sidebar closePlataforma">
        <header>
            <div class="image-text">
                <span class="image">
                     <img src="/img/pngwing.com(1).png" alt="logo" />
                </span>
                <div class="text header-text">
                    <span class="name">Claudio Paredes Arbelo</span>
                    
                </div>
            </div>
            <i class="fa-solid fa-caret-right toggle"></i>
        </header>
        <div class="menu-bar">
            <div class="menu">
                
                <ul class="menu-links">
                    <li class="nav-link">
                        <a href="">
                            <i class="fa-solid fa-house icono"></i>
                            <span class="text nav-text">Home</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="">
                            <i class="fa-solid fa-book icono"></i>
                            <span class="text nav-text">Mis Cursos</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="">
                            <i class="fa-solid fa-comments icono"></i>
                            <span class="text nav-text">Chat</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="">
                            <i class="fa-solid fa-bell icono"></i>
                            <span class="text nav-text">Notificaciones</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="">
                            <i class="fa-solid fa-user icono"></i>
                            <span class="text nav-text">Perfil</span>
                        </a>
                    </li>
                </ul>
            </div>
             <div class="bottom-menu">
                <li class="nav-link">
                        <a href="">
                            <i class="fa-solid fa-right-from-bracket icono"></i>
                            <span class="text nav-text">Logout</span>
                        </a>
             </li>
             </div>
            
        </div>
    </nav>
</body>
<script src="/js/plataforma.js"></script>