<body class="bodyPlataforma">
    <div id="sidemenu" class="menu-collapsed">
        <div id="header">
            <div id="title">
                <span>Vida MMR</span>
            </div>
                <div id="menu-btn">
                <div class="btn-hamburguer"></div>
                <div class="btn-hamburguer"></div>
                <div class="btn-hamburguer"></div>
            </div>
        </div>
        <div id="profile">
            <div id="photo"><img src="/img/avatar.png" alt=""></div>
            <div id="name"><span>Claudio Paredes</span></div>
        </div>
        <div id="menu-items">
            <div class="item">
                <a href="">
                    <div class="icon"><i class="fa-solid fa-user"></i></div>
                    <div class="title">mi perfil</div>
                </a>
            </div>
        </div>
    </div>
    <div id="main-container">
        Hola a todos
    </div>
</body>