<body class="bodyAboutme">
 <header>
  <div class="title">
    <img src="/img/fullstack.svg" alt="logo" />
    <div>
      <h1>Claudio Paredes Arbelo</h1>
      <p>Desarrollador Fullstack y Educador</p>
    </div>
  </div>
  <nav>
    <div class="buttons">
      <a href="./"><button class="btn">home</button></a>
      <a href="./cursos"><button class="btn">cursos</button></a>
      <a href="./sobremi"><button class="btn">sobre mi</button></a>
      <a href="./contacto"><button class="btn">contacto</button></a>
    </div>
  </nav>
</header>
<main class="mainAbout">
  <div class="pOne">
    <div class="grid-item">s</div>
    <div class="grid-item">o</div>
    <div class="grid-item">b</div>
    <div class="grid-item">r</div>
    <div class="grid-item">e</div>
    <div class="grid-item"> </div> 
    <div class="grid-item">M</div>
    <div class="grid-item">i</div>
</div>

  </div>
  <div class="pTwo">
    <p>Soy un profesional de 43 años con una amplia gama de habilidades y experiencias. Como desarrollador Fullstack, prospero en el mundo del código, creando aplicaciones web con precisión y creatividad. También comparto mis conocimientos como profesor de programación, asesorando a la próxima generación de desarrolladores.</p>
    <p>Más allá de mi destreza técnica, soy un fotógrafo y camarógrafo apasionado, que captura momentos e historias a través del lente de mi cámara. Mi amor por lo visual me ha permitido ver el mundo desde una perspectiva única y me enorgullece compartir mi arte con los demás.</p>
    <p>En el campo médico, soy un Técnico Radiológico especializado, particularmente capacitado en MRI (Resonancia Magnética). Mi dedicación al cuidado del paciente y la atención al detalle garantizan diagnósticos precisos y atención médica de calidad.</p>
    <p>Mis cualidades más distintivas incluyen ser un individuo autodidacta, un emprendedor de corazón, un gran trabajador y un solucionador de problemas. Disfruto la oportunidad de afrontar nuevos desafíos, ya sea aprender una nueva tecnología, lanzar una startup o encontrar soluciones innovadoras a problemas complejos.</p>
    <p>En todos mis proyectos, me esfuerzo por alcanzar la excelencia y estoy comprometido con el crecimiento y la mejora continua. Mi experiencia multidisciplinaria, junto con mi pasión por el aprendizaje, me capacita para asumir una amplia gama de tareas con entusiasmo y éxito".</p>
  </div>
</main>

<footer class="footerAbout"> 
  <div class="footerAbout__wrapper">
  <p><i class="fa-regular fa-copyright"></i><span id="year"></span>  Claudio Paredes Arbelo</p>
  <div class="socialMediaFooter">
    <a href="https://www.instagram.com/claudioparedes_developer/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
    <a href="https://www.linkedin.com/in/claudio-paredes-arbelo-71686a286/" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a>
    <a href="https://github.com/ClaudioParedesArbeloDev" target="_blank"><i class="fa-brands fa-github"></i></a>
    <a href="https://twitter.com/ClaudioPDev" target="_blank"><i class="fa-brands fa-x-twitter"></i></a>
    <a href="https://www.youtube.com/channel/UC8obibrcBZa2FwGN6J9rJSA" target="_blank"><i class="fa-brands fa-youtube"></i></a>
  </div>
  </div>
</footer> 
<script src="/js/index.js"></script>
</body>