@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;400;700&family=Roboto+Mono:wght@100;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Roboto+Mono:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Londrina+Shadow&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;400;700&family=Roboto+Mono:wght@100;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;400;700&family=Roboto+Mono:wght@100;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;400;700&family=Roboto+Mono:wght@100;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;400;700&family=Roboto+Mono:wght@100;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;400;700&family=Roboto+Mono:wght@100;400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(/img/fondo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

header {
  display: flex;
  justify-content: space-around;
  padding: 30px 0 30px 0;
}
header nav {
  display: flex;
}

.hamburguer {
  display: none;
}

.close {
  display: none;
}

.nav-menu {
  display: none;
}

.title {
  display: flex;
  align-items: center;
}
.title img {
  width: 70px;
  margin-right: 20px;
}
.title h1 {
  color: #fff;
  font-family: "Lato", sans-serif;
  font-size: 1.6em;
  text-transform: uppercase;
}
.title p {
  color: #fff;
  font-family: "Roboto Mono", monospace;
  text-transform: lowercase;
  text-align: center;
}

.btn {
  font-size: 17px;
  background: transparent;
  border: none;
  padding: 1em 1.5em;
  color: #fff;
  text-transform: uppercase;
  position: relative;
  transition: 0.5s ease;
  cursor: pointer;
}

.btn::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0;
  background-color: #b10c43;
  transition: 0.5s ease;
}

.btn:hover {
  color: #02031a;
  transition-delay: 0.5s;
}

.btn:hover::before {
  width: 100%;
}

.btn::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 0;
  width: 100%;
  background-color: #b10c43;
  transition: 0.4s ease;
  z-index: -1;
}

.btn:hover::after {
  height: 100%;
  transition-delay: 0.4s;
  color: aliceblue;
}

.loginBox {
  display: flex;
  width: 60%;
  justify-content: center;
  margin-top: 100px;
}

.wrapper {
  position: relative;
  width: 400px;
  height: 440px;
  background: transparent;
  border: 2px solid rgba(177, 12, 67, 0.5);
  border-radius: 20px;
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  box-shadow: 0 0 30px rgba(177, 12, 67, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto Mono", monospace;
}

.form-box {
  width: 100%;
  padding: 40px;
}
.form-box h2 {
  font-size: 2em;
  color: #fff;
  text-align: center;
}

.input-box {
  position: relative;
  width: 100%;
  height: 50px;
  border-bottom: 2px solid #fff;
  margin: 30px 0;
}
.input-box label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  font-size: 1em;
  color: #fff;
  font-weight: 500;
  pointer-events: none;
  transition: 0.5s;
}
.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  color: #fff;
  font-size: 1em;
  font-weight: 600;
  padding: 0 35px 0 5px;
}

.input-box input:focus ~ label,
.input-box input:valid ~ label {
  top: -5px;
}

.icon {
  position: absolute;
  right: 8px;
  font-size: 1.2em;
  color: #fff;
  line-height: 57px;
}

.remember-forgot {
  font-size: 0.9em;
  color: #fff;
  font-weight: 500;
  margin: -15px 0 15px;
  display: flex;
  justify-content: space-between;
}
.remember-forgot label input {
  accent-color: #fff;
  margin-right: 5px;
}
.remember-forgot a {
  color: #fff;
  text-decoration: none;
}
.remember-forgot a:hover {
  text-decoration: underline;
}

.btnr {
  width: 100%;
  height: 45px;
  background: #b10c43;
  border: none;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1em;
  color: #fff;
  font-weight: 500;
}

.login-register {
  font-size: 0.9em;
  color: #fff;
  text-align: center;
  font-weight: 500;
  margin: 25px 0 10px;
}
.login-register p a {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
}
.login-register p a:hover {
  text-decoration: underline;
}

footer {
  display: flex;
  position: absolute;
  width: 100vw;
  justify-content: center;
  flex-direction: column;
  bottom: 20px;
}
footer p {
  padding-top: 10px;
  color: #fff;
  display: flex;
  justify-content: center;
  font-family: "Roboto Mono", monospace;
  font-size: 1.1rem;
  text-align: center;
}
footer p i {
  margin-right: 5px;
}

.socialMedia {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.Btn {
  margin-right: 10px;
  margin-left: 10px;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
  position: relative;
  border-radius: 7px;
  cursor: pointer;
  transition: all 0.3s;
}

.svgContainer {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  -webkit-backdrop-filter: blur(0px);
          backdrop-filter: blur(0px);
  letter-spacing: 0.8px;
  border-radius: 10px;
  transition: all 0.3s;
  border: 1px solid rgba(156, 156, 156, 0.466);
}

.BG {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: #181818;
  z-index: -1;
  border-radius: 10px;
  pointer-events: none;
  transition: all 0.3s;
}

.Btn:hover .BG {
  transform: rotate(35deg);
  transform-origin: bottom;
}

.Btn:hover .svgContainer {
  background-color: #b10c43;
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
}

@media screen and (max-width: 900px) {
  body {
    background-color: #02031a;
    background-image: none;
  }
  .title img {
    width: 50px;
  }
  .title h1 {
    font-size: 0.8em;
  }
  .title p {
    font-size: 0.5em;
  }
  .buttons {
    display: flex;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    flex-direction: column;
    align-items: end;
    background-color: rgb(146, 15, 41);
    padding: 0.6rem;
    visibility: hidden;
    z-index: 2;
  }
  .buttons a {
    padding-top: 15px;
  }
  .buttons.visible {
    visibility: visible;
  }
  #hamburguer {
    display: block;
    color: #fff;
    font-size: 1.5em;
  }
  #close {
    display: block;
    color: #fff;
    position: absolute;
    font-size: 1.5rem;
    right: 35px;
  }
  .loginBoxTotal {
    display: flex;
    width: 100%;
    justify-content: center;
  }
  .loginBox {
    display: flex;
    width: 80%;
    padding: 0;
    left: 80px;
    margin-top: 20px;
    z-index: 1;
  }
  footer {
    margin-top: 50px;
    position: relative;
  }
  footer p {
    font-size: 0.8rem;
  }
  .Btn {
    width: 25px;
    height: 25px;
  }
  .remember-forgot {
    text-align: center;
    flex-direction: column;
  }
  .remember-forgot label {
    font-size: 1em;
  }
  .remember-forgot a {
    font-size: 1em;
  }
}
.bodyAboutme {
  height: 100vh;
  background-color: #021b2b;
  font-family: "Poppins", sans-serif;
}

.mainAbout {
  margin: 20px 90px 0 80px;
  color: #fff;
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.pOne {
  background: rgba(2, 27, 43, 0.3);
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: min-content;
  gap: 0.2em;
  text-align: center;
  font-size: 2.8rem;
  font-weight: bold;
  text-transform: uppercase;
  padding-top: 60px;
}

.grid-item {
  font-family: "Londrina Shadow", sans-serif;
  padding: 0.2em;
}

.pTwo {
  background: rgba(2, 27, 43, 0.3);
  padding: 30px 40px 30px 40px;
  line-height: 2.5rem;
}
.pTwo p {
  text-indent: 20px;
  font-size: 1.2rem;
  text-align: justify;
  padding-bottom: 15px;
}

.footerAbout {
  position: fixed;
  width: 100%;
  bottom: 0;
}

.footerAbout__wrapper {
  display: flex;
  justify-content: space-around;
  padding: 30px 40px 15px 40px;
  background: rgba(2, 27, 43, 0.3);
  color: #fff;
  align-items: center;
}
.footerAbout__wrapper p {
  color: #fff;
}
.footerAbout__wrapper p i {
  margin-right: 10px;
}
.footerAbout__wrapper p span {
  margin-right: 10px;
}

.socialMediaFooter a {
  color: #fff;
  text-decoration: none;
  list-style: none;
  margin-right: 15px;
  font-size: 1.5rem;
}
.socialMediaFooter a:hover {
  color: #b10c43;
}

@media screen and (max-width: 900px) {
  .bodyAboutme {
    background-color: #02031a;
  }
  .mainAbout {
    margin: 0;
    display: flex;
    flex-direction: column;
    padding: 0;
  }
  .pOne {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    padding-top: 10px;
  }
  .pTwo p {
    font-size: 0.8rem;
  }
  .footerAbout {
    position: relative;
    margin: 0;
  }
  .footerAbout__wrapper {
    display: flex;
    flex-direction: column;
  }
}
#buttonsCursos {
  background-color: rgba(2, 3, 26, 0.8);
  padding-left: 120px;
  display: flex;
  justify-content: space-around;
  padding: 20px 0 20px 0;
}

#closeC {
  display: none;
}

#hamburguerC {
  display: none;
}

.btnC {
  font-size: 17px;
  background: transparent;
  border: none;
  padding: 1em 1.5em;
  color: #fff;
  text-transform: uppercase;
  position: relative;
  transition: 0.5s ease;
  cursor: pointer;
}

.btnC::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0;
  background-color: #b10c43;
  transition: 0.5s ease;
}

.btnC:hover {
  color: #b10c43;
  transition-delay: 0.5s;
  z-index: 2;
}

.btnC:hover::before {
  width: 100%;
}

.btnC:hover::after {
  height: 100%;
  transition-delay: 0.4s;
  color: aliceblue;
}

.cursoFrontEnd {
  background-image: url(/img/pexels-danny-meneses-943096.jpg);
  background-size: cover;
  color: #fff;
  font-family: "Roboto Mono", monospace;
  display: flex;
  flex-direction: column;
  padding: 0px 0 450px 0;
}
.cursoFrontEnd h2 {
  font-size: 2.7em;
  padding: 140px 0 0 150px;
}

.partCurso {
  list-style: none;
  text-decoration: none;
  color: #fff;
  font-size: 1.8em;
  width: 520px;
  padding: 30px 0 0 150px;
}
.partCurso i {
  padding-right: 20px;
}

.desarrolloWeb {
  display: flex;
  flex-direction: column;
  background-image: url(/img/pexels-jess-bailey-designs-1097930.jpg);
  background-size: cover;
  color: #fff;
  font-family: "Roboto Mono", monospace;
  padding: 100px 0 200px 0;
  text-align: center;
}
.desarrolloWeb h3 {
  color: #02031a;
  font-size: 2em;
  line-height: 3em;
}
.desarrolloWeb h3 i {
  padding-right: 20px;
}
.desarrolloWeb p {
  color: #02031a;
  font-size: 1.5em;
  line-height: 1.5em;
}

.javaScript {
  display: flex;
  flex-direction: column;
  background-image: url(/img/pexels-sebastiaan-stam-1480690.jpg);
  background-size: cover;
  color: #fff;
  font-family: "Roboto Mono", monospace;
  padding: 150px 0 200px 0;
}
.javaScript h3 {
  padding-left: 100px;
  font-size: 2em;
  line-height: 3em;
}
.javaScript h3 i {
  padding-right: 20px;
}
.javaScript p {
  padding-left: 100px;
  font-size: 1.5em;
  line-height: 1.5em;
}

.reactJs {
  display: flex;
  flex-direction: column;
  background-image: url(/img/blog-thumb-1.png);
  background-size: cover;
  color: #fff;
  font-family: "Roboto Mono", monospace;
  padding: 100px 0 150px 0;
}
.reactJs h3 {
  padding-left: 100px;
  font-size: 2em;
  line-height: 3em;
}
.reactJs h3 i {
  padding-right: 20px;
}
.reactJs p {
  padding-left: 100px;
  font-size: 1.5em;
  line-height: 2.5em;
}

.up {
  position: fixed;
  right: 30px;
  top: 730px;
}
.up i {
  color: #dbd1d1;
  font-size: 3em;
}

.footerCursos {
  position: fixed;
  display: flex;
  justify-content: center;
}

.socialMediaCursos {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 900px) {
  body {
    background-color: #02031a;
    background-image: none;
  }
  .title img {
    width: 50px;
  }
  .title h1 {
    font-size: 0.8em;
  }
  .title p {
    font-size: 0.5em;
  }
  .buttonsCursos {
    display: flex;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    flex-direction: column;
    align-items: end;
    background-color: rgb(146, 15, 41);
    padding: 0.5rem;
    visibility: hidden;
    z-index: 2;
  }
  .buttonsCursos a {
    margin-top: 15px;
  }
  .buttonsCursos.visible {
    visibility: visible;
  }
  #hamburguerC {
    display: block;
    color: #fff;
    font-size: 1.5em;
  }
  #closeC {
    display: block;
    color: #fff;
    position: absolute;
    font-size: 1.5rem;
    right: 35px;
  }
  .up {
    top: 380px;
  }
  .up i {
    font-size: 2em;
  }
  .partCurso {
    width: 90vw;
  }
  .cursoFrontEnd {
    background-image: none;
    background-color: #021b2b;
  }
  .cursoFrontEnd h2 {
    padding: 50px 10px 30px 30px;
    font-size: 1.8em;
  }
  .cursoFrontEnd a {
    padding: 0 0 0 30px;
    font-size: 1em;
    line-height: 3em;
  }
  .desarrolloWeb h3 {
    font-size: 1.7em;
  }
  .desarrolloWeb p {
    font-size: 1em;
  }
  .javaScript {
    padding: 90px 0 150px 0;
  }
  .javaScript h3 {
    padding: 0 0 0 30px;
    font-size: 1.7em;
  }
  .javaScript p {
    padding: 0 0 0 30px;
    font-size: 1em;
  }
  .reactJs {
    padding: 40px 0 150px 0;
  }
  .reactJs h3 {
    padding: 0 0 0 30px;
    font-size: 1.7em;
  }
  .reactJs p {
    padding: 0 0 0 30px;
    font-size: 1em;
  }
  .footerCursos {
    position: absolute;
    bottom: 20px;
  }
  .footerCursos p {
    font-size: 0.8rem;
  }
  .Btn {
    width: 25px;
    height: 25px;
  }
  .remember-forgot {
    text-align: center;
    flex-direction: column;
  }
  .remember-forgot label {
    font-size: 1em;
  }
  .remember-forgot a {
    font-size: 1em;
  }
}
.wrapperFormulario {
  display: flex;
  width: 100%;
  height: 80vh;
  justify-content: center;
  align-items: center;
}

.formularioContacto {
  width: 60%;
  border: 2px solid #797373;
  border-radius: 20px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  padding: 60px;
}

.formContainer {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  padding: 20px;
  gap: 10px;
  width: 1000px;
  font-family: "Lato", sans-serif;
}

.box-info {
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.box-info h1 {
  font-size: 2rem;
  text-align: left;
  letter-spacing: 5px;
}

.data {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.data p {
  font-size: 1rem;
}
.data p i {
  color: crimson;
  margin-right: 10px;
  font-size: 25px;
}

.linkF {
  display: flex;
  gap: 15px;
}
.linkF a {
  text-decoration: none;
  width: 40px;
  height: 40px;
  background: crimson;
  text-align: center;
  transition: 0.3s;
}
.linkF a i {
  color: #fff;
  line-height: 40px;
  font-size: 20px;
}
.linkF a:hover {
  background: rgb(150, 13, 40);
}

.formContacto {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 15px;
}
.formContacto button {
  background: crimson;
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1rem;
  padding: 10px;
  transition: 0.2s;
}
.formContacto button:hover {
  background: rgb(150, 13, 40);
}

.input-boxF {
  position: relative;
}
.input-boxF input {
  width: 100%;
  height: 40px;
  padding: 0 10px;
  outline: none;
  background: rgba(255, 255, 255, 0.1);
  border: 3px solid transparent;
  letter-spacing: 1px;
  transition: 0.3s;
  color: #fff;
}
.input-boxF input:focus {
  border-bottom: 3px solid crimson;
  animation: shake 0.2s;
}
.input-boxF input:focus ~ i {
  color: crimson;
}
.input-boxF input::-moz-placeholder {
  color: #a3a3a3;
}
.input-boxF input::placeholder {
  color: #a3a3a3;
}
.input-boxF textarea {
  width: 100%;
  height: 130px;
  background: rgba(255, 255, 255, 0.1);
  border: 3px solid transparent;
  letter-spacing: 1px;
  transition: 0.3s;
  color: #fff;
  padding: 10px;
  outline: none;
}
.input-boxF textarea:focus {
  border-bottom: 3px solid crimson;
  animation: shake 0.2s;
}
.input-boxF textarea::-moz-placeholder {
  color: #a3a3a3;
}
.input-boxF textarea::placeholder {
  color: #a3a3a3;
}
.input-boxF i {
  color: rgba(255, 255, 255, 0.3);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 15px;
}

@keyframes shake {
  0%, 100% {
    transform: translateY(0);
  }
  10%, 30%, 50%, 70%, 90% {
    transform: translateX(-10px);
  }
  20%, 40%, 60%, 80% {
    transform: translateX(10px);
  }
}
@media screen and (max-width: 900px) {
  .wrapperFormulario {
    display: flex;
    flex-direction: column;
    width: 100vw;
    justify-content: center;
  }
  .formularioContacto {
    display: flex;
    width: 90%;
    padding: 10px;
  }
  .formContainer {
    display: flex;
    flex-direction: column;
    padding: 0;
  }
  .box-info {
    display: flex;
    gap: 20px;
  }
  .box-info h1 {
    font-size: 1rem;
  }
  .data {
    gap: 10px;
  }
  .data p {
    font-size: 0.7rem;
  }
  .linkF {
    gap: 10px;
  }
  .linkF a {
    width: 30px;
    height: 30px;
  }
  .linkF a i {
    line-height: 30px;
  }
}
.registerPage {
  background-image: url(/img/pexels-danny-meneses-943096.jpg);
  background-size: cover;
  color: #fff;
  font-family: "Roboto Mono", monospace;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.formRegistro {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding-top: 60px;
  padding-left: 90px;
  text-align: center;
  gap: 15px;
}
.formRegistro button {
  background: crimson;
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1rem;
  padding: 10px;
  transition: 0.2s;
}
.formRegistro button:hover {
  background: rgb(150, 13, 40);
}

.input-boxR {
  position: relative;
}
.input-boxR input {
  width: 100%;
  height: 40px;
  padding: 0 10px;
  outline: none;
  background: rgba(255, 255, 255, 0.1);
  border: 3px solid transparent;
  letter-spacing: 1px;
  transition: 0.3s;
  color: #fff;
}
.input-boxR input:focus {
  border-bottom: 3px solid crimson;
  animation: shake 0.2s;
}
.input-boxR input:focus ~ i {
  color: crimson;
}
.input-boxR input::-moz-placeholder {
  color: #a3a3a3;
}
.input-boxR input::placeholder {
  color: #a3a3a3;
}
.input-boxR textarea {
  width: 100%;
  height: 130px;
  background: rgba(255, 255, 255, 0.1);
  border: 3px solid transparent;
  letter-spacing: 1px;
  transition: 0.3s;
  color: #fff;
  padding: 10px;
  outline: none;
}
.input-boxR textarea:focus {
  border-bottom: 3px solid crimson;
  animation: shake 0.2s;
}
.input-boxR textarea::-moz-placeholder {
  color: #a3a3a3;
}
.input-boxR textarea::placeholder {
  color: #a3a3a3;
}
.input-boxR i {
  color: rgba(255, 255, 255, 0.3);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 15px;
}

.advertenciaTamano {
  font-family: "Roboto Mono", monospace;
  color: #a3a3a3;
  text-align: start;
  font-size: 0.7rem;
}

.custom-file-upload {
  font-family: "Roboto Mono", monospace;
  display: flex;
  width: 200px;
  overflow: hidden;
  margin-right: 10px;
  padding: 10px 20px;
  background-color: crimson;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.custom-file-upload:hover {
  background: rgb(150, 13, 40);
}

.custom-file-upload input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
}

.submitForm {
  width: 200px;
}

@keyframes shake {
  0%, 100% {
    transform: translateY(0);
  }
  10%, 30%, 50%, 70%, 90% {
    transform: translateX(-10px);
  }
  20%, 40%, 60%, 80% {
    transform: translateX(10px);
  }
}
@media screen and (max-width: 900px) {
  .formRegistro {
    width: 90%;
    padding: 20px 0 0 15px;
  }
}
.listadoWrapper {
  font-family: "Roboto Mono", monospace;
  color: #fff;
  margin: 20px 0 10px 80px;
}
.listadoWrapper h2 {
  color: #fff;
  padding-bottom: 20px;
}
.listadoWrapper table {
  border: 1px solid #fff;
}
.listadoWrapper table th {
  text-align: start;
  padding: 15px 15px 15px 15px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid crimson;
}
.listadoWrapper table td {
  font-size: 1rem;
  padding: 15px;
  border-left: 1px solid #fff;
}
.listadoWrapper table button {
  background-color: crimson;
  border: none;
  border-radius: 20px;
  padding: 10px;
  cursor: pointer;
}
.listadoWrapper table button a {
  text-decoration: none;
  color: #fff;
}
.listadoWrapper table button:hover {
  background-color: #b10c43;
}

.registroCompletado {
  display: flex;
  flex-direction: column;
  font-family: "Roboto Mono", monospace;
  justify-content: center;
  align-items: center;
  height: 70vh;
  font-size: 1.5rem;
  color: #fff;
}
.registroCompletado p {
  padding-top: 30px;
  font-size: 1rem;
}

@media screen and (max-width: 900px) {
  .registroCompletado h2 {
    font-size: 1.3rem;
    text-align: center;
  }
  .registroCompletado p {
    font-size: 0.8rem;
    text-align: center;
  }
}
.individualPage {
  display: flex;
  justify-content: center;
  font-family: "Roboto Mono", monospace;
  margin-top: 100px;
}

.wrapperIndividual {
  border: 1px solid crimson;
  padding: 40px;
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  box-shadow: 0 0 30px rgba(177, 12, 67, 0.5);
  border-radius: 20px;
  color: #fff;
}

.avatar {
  width: 150px;
  height: 150px;
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
  border: 1px solid #fff;
  border-radius: 100px;
  margin: 0 0 30px 0;
}

.avatar:hover {
  border: 1px solid crimson;
  box-shadow: 0 0 30px rgba(177, 12, 67, 0.5);
  transform: scale(130%);
  transition: 0.5s;
}

.tablaGeneral {
  display: grid;
  grid-template-columns: auto auto;
  gap: 15px;
  padding: 10px 0 10px 0;
}

.datosIndividuo {
  grid-column: 2;
}
.datosIndividuo p {
  padding: 10px 0 10px 0;
}

.encabezadosIndividuo {
  grid-column: 1;
}
.encabezadosIndividuo p {
  padding: 10px 0 10px 0;
}

.btnIndividuos {
  background-color: transparent;
  border: none;
  border-radius: 20px;
  color: crimson;
  cursor: pointer;
}

.frenteDNI, .dorsoDNI {
  border: none;
  background-color: crimson;
  color: #fff;
  padding: 10px;
  margin: 10px;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
}
.frenteDNI a, .dorsoDNI a {
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
}

.frenteDNI:hover {
  background-color: #b10c43;
}

.dorsoDNI:hover {
  background-color: #b10c43;
}

.deleteBTN {
  border: 1px solid crimson;
  background-color: #021b2b;
  color: #fff;
  padding: 10px;
  margin: 10px 10px 10px 100px;
  font-weight: bold;
  cursor: pointer;
}
.deleteBTN a {
  text-decoration: none;
  color: #fff;
}
.deleteBTN a i {
  font-size: 30px;
}

.deleteBTN:hover {
  background-color: crimson;
  transition: 0.3s;
  transform: scale(120%);
}

.wrapperBtnListado {
  display: flex;
  justify-content: center;
}

.btnListado {
  border: none;
  background-color: #b10c43;
  color: #fff;
  padding: 10px;
  margin: 10px;
  cursor: pointer;
}
.btnListado a {
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
}

.btnListado:hover {
  background-color: #021b2b;
  transition: 0.3s;
}

.modalDNIfrente, .modalDNIdorso {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(17, 17, 17, 0.7411764706);
  display: flex;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.6s 0.9s;
  --transform: translateY(-100vh);
  --transition: transform .8s;
}

.modalDNIfrente--show {
  opacity: 1;
  pointer-events: unset;
  transition: opacity 0.6s;
  --transform: translateY(0);
  --transition: transform .8s .8s;
}

.modalDNIdorso--show {
  opacity: 1;
  pointer-events: unset;
  transition: opacity 0.6s;
  --transform: translateY(0);
  --transition: transform .8s .8s;
}

.modal__containerDNIfrente, .modal__containerDNIdorso {
  margin: auto;
  width: 90%;
  max-width: 600px;
  max-height: 90%;
  background-color: transparent;
  border-radius: 6px;
  padding: 3em 2.5em;
  display: grid;
  gap: 1em;
  place-items: center;
  grid-auto-columns: 100%;
  transform: var(--transform);
  transition: var(--transition);
}

.modal__title {
  font-size: 1rem;
  color: #fff;
  font-family: "Roboto Mono", monospace;
}

.modal__paragraph {
  margin-bottom: 10px;
}

.modal__img {
  width: 90%;
  max-width: 300px;
}

.modal__closeFrente, .modal__closeDorso {
  text-decoration: none;
  color: #fff;
  background-color: transparent;
  padding: 1em 3em;
  border: none;
  display: inline-block;
  font-weight: 300;
  transition: background-color 0.3s;
}

.modal__closeFrente:hover {
  color: crimson;
}

.imgModal {
  max-width: 800px;
  max-height: 800px;
}/*# sourceMappingURL=style.css.map */