<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/img/fullstack.svg" type="image/x-icon">
    <link rel="stylesheet" href="/css/style.css"">
    <script src="https://kit.fontawesome.com/718dcffbc3.js" crossorigin="anonymous"></script>
    <title>Claudio Paredes Arbelo - FullStack Dev.</title>
</head>
<body>
    {{{body}}}
</body>
</html>